@import "../../../../styles.scss";

ul li a img {
  width: 80px !important;
  height: 80px !important;
  border-radius: 10px !important;
}

ul li {
  border-radius: 10px;
  margin: 5px;
  transition: all 0.3s;
}

ul li:hover {
  cursor: pointer;
  box-shadow: 2px 2px 5px #888,
    -2px -2px 5px #888;
}

.icons-list {
  max-width: 1000px;
  margin: auto;
}
