<div id="more-components">
  <div class="head-svg">
  </div>
  <div class="circle1">
  </div>
  <div class="circle2">
  </div>
  <button routerLink="/kids" class="btn btn-transparent border border-0 p-0" id="back"><i
      class="fa-solid fa-arrow-left-long text-black fw-bold fa-2x"></i></button>
  <div class="container m-auto">
    <div class="row mb-5">
      <div class="col-12 ps-2">
        <div class="advice-msgs">
          <ul class="list-unstyled mb-0 px-5">
            <li class="text-center d-inline-block px-2">
              <img src="../../../../assets/images/limarounded.png" alt="baby.png">
              <p>{{"study" | translate}}</p>
            </li>
            <li class="text-center d-inline-block px-2">
              <img src="../../../../assets/images/limarounded.png" alt="baby.png">
              <p>{{"meditation" | translate}}</p>
            </li>
            <li class="text-center d-inline-block  px-2">
              <img src="../../../../assets/images/limarounded.png" alt="baby.png">
              <p>{{"exercise" | translate}}</p>
            </li>
            <li class="text-center d-inline-block  px-2">
              <img src="../../../../assets/images/limarounded.png" alt="baby.png">
              <p>{{"excellence" | translate}}</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <!-- <h2 class="text-muted p-5 m-0 text-center">Tales content from api</h2> -->
      <div class="col-sm-6 col-md-4 col-lg-3 p-2 overflow-hidden ">
        <div class="video">
          <iframe width="100%" height="100%" src="https://www.youtube.com/embed/ZQ4jmpgoJYM"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3 p-2 overflow-hidden ">
        <div class="video">
          <iframe width="100%" height="100%" src="https://www.youtube.com/embed/ZQ4jmpgoJYM"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3 p-2 overflow-hidden ">
        <div class="video">
          <iframe width="100%" height="100%" src="https://www.youtube.com/embed/ZQ4jmpgoJYM"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3 p-2 overflow-hidden ">
        <div class="video">
          <iframe width="100%" height="100%" src="https://www.youtube.com/embed/ZQ4jmpgoJYM"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3 p-2 overflow-hidden ">
        <div class="video">
          <iframe width="100%" height="100%" src="https://www.youtube.com/embed/ZQ4jmpgoJYM"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3 p-2 overflow-hidden ">
        <div class="video">
          <iframe width="100%" height="100%" src="https://www.youtube.com/embed/ZQ4jmpgoJYM"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3 p-2 overflow-hidden ">
        <div class="video">
          <iframe width="100%" height="100%" src="https://www.youtube.com/embed/ZQ4jmpgoJYM"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
