<section id="kids-moms">
  <div class="header">
    <div class="container">
      <div class="row px-3 ">
        <div class="col-4 p-1">
          <h1>lima<br>&nbsp;&nbsp;&nbsp;&nbsp;<span>zola</span>
          </h1>
        </div>
        <div class="col-8 d-flex justify-content-end align-items-end p-0">
          <img src="../../assets/images/Group 8286@2x.png" alt="lima&zola">
        </div>
      </div>
    </div>
    <div class="cloud1"></div>
    <div class="cloud2"></div>
    <svg width="50">
      <polygon points="50,0 50,60 10,60" style="fill:#fff" />
    </svg>
  </div>
  <div class="parent w-100 ">
    <div class="child">
    </div>
  </div>
  <div class="container">
    <div class="row py-5">
      <div class="col-6 text-center p-0" *ngFor="let category of momsCategories">
        <div class="copmonent p-0  m-0">
          <a><img [src]="category.image" class="story-img" [alt]="category.name"
              onerror="this.onerror=null;this.src='../../../assets/images/contact-icons/80fekra.png'"
              [routerLink]="['/'+category.type , category.id, 'moms']"></a>
          <p>{{category.name}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="layouts">
    <div class="ball1">
    </div>
    <div class="ball2">
    </div>
    <div class="cloud3"></div>
    <div class="cloud4"></div>
    <div class="cloud5"></div>
    <div class="cloud6"></div>
  </div>
</section>
<app-navbar></app-navbar>
