@import "../../../../styles.scss";

.loader {
  display: none;
}

.form {
  form {
    .form-group {
      input {
        color: #8BDED6;
      }
      span {
        color: #8BDED6;
      }
    }
  }
}
