<div id="more-components">
  <div class="head-svg">
  </div>
  <div class="circle1">
  </div>
  <div class="circle2">
  </div>
  <button routerLink="/more" class="btn btn-transparent border border-0 p-0" id="back"><i
      class="fa-solid fa-arrow-left-long text-black fw-bold fa-2x"></i></button>
  <div class="container m-auto">
    <div class="row py-3">
      <div class="col-12 text-center">
        <h2 class="my-5">{{"about 80 fekra" | translate}}</h2>
        <img src="../../../../assets/images/limarounded.png" alt="lima"
          onerror="this.onerror=null;this.src='../../../../assets/images/contact-icons/80fekra.png'">
      </div>
      <div class="col-12 my-3 p-4">
        <p>{{"ideaText" | translate}}</p>
      </div>
    </div>
  </div>
</div>
