<section id="account-more">
  <div class="container py-3 m-auto">
    <div class="row py-4">
      <div class="col-12 text-center">
        <div class="account-more-img text-center">
          <img src="../../../assets/images/characters/lima.jpg" class="img-fluid" alt="lima web app"
            onerror="this.onerror=null;this.src='../../../assets/images/logo/80fekra.png'">
        </div>
      </div>
    </div>
    <div class="row mb-5">
      <div class="col-12">
        <div class="more-list">
          <ul class="list-unstyled mb-3">
            <li><a routerLink="idea"><span><i class="fa-solid fa-file-lines text-info"></i></span>
                <p>{{"about 80 fekra" | translate}}</p>
              </a></li>
            <li><a routerLink="application"><span><i class="fa-solid fa-table-cells text-info"></i></span>
                <p>{{"about the app" | translate}}</p>
              </a></li>
            <li><a routerLink="team"><span><i class="fa-solid fa-users text-info"></i></span>
                <p>{{"team" | translate}}</p>
              </a></li>
            <li><a routerLink="contact"><span><i class="fa-solid fa-phone-flip text-info"></i></span>
                <p>{{"contact us" | translate}}</p>
              </a></li>
            <li><a routerLink="terms"><span><i class="fa-solid fa-bars-staggered text-info"></i></span>
                <p>{{"terms" | translate}}</p>
              </a></li>
            <li><a routerLink="privacy"><span><i class="fa-solid fa-lock text-info"></i></span>
                <p>{{"privacy" | translate}}</p>
              </a></li>
          </ul>
          <div class="company-logo text-center mt-5">
            <p>{{"version" | translate}} (2022-07-31 (1.4))</p>
            <img class="my-3" src="../../../assets/images/logo/logo.png" alt="TES logo">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="layouts">
    <div class="circle1">
    </div>
    <div class="circle2">
    </div>
  </div>
</section>
<app-navbar></app-navbar>
