<div class="loader">
  <lottie-player src="../../../assets/animations/loader.json" background="transparent" speed="1" loop autoplay>
  </lottie-player>
</div>
<div id="more-components">
  <div class="head-svg">
  </div>
  <div class="circle1">
  </div>
  <div class="circle2">
  </div>
  <div class="container m-auto">
    <div class="row py-3">
      <div class="col-12">
        <div class="row" dir="rtl">
          <div class="col-10">
          </div>
          <div class="col-2 d-flex justify-content-center align-items-center">
            <button routerLink=".." class="btn btn-transparent border border-0 p-0"><i
                class="fa-sharp fa-solid fa-arrow-left text-black fw-bold fa-2x"></i></button>
          </div>
        </div>
      </div>
    </div>
    <div class="row py-5">
      <div class="col-12 text-center">
        <h2 class="my-3">{{"team" | translate}}</h2>
      </div>
    </div>
    <div class="row">
      <div *ngFor="let part of team" class="col-lg-3 col-md-4 col-sm-6 text-center  py-3">
        <div class="member">
          <div class="member-img">
            <img [src]="part.image">
          </div>
          <div class="member-details">
            <h4 class="my-3">{{part.title}}</h4>
            <h6>{{part.job}}</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
