<div class="loader">
  <lottie-player src="../../../assets/animations/loader.json" background="transparent" speed="1" loop autoplay>
  </lottie-player>
</div>
<section id="kids-moms">
  <div class="header">
    <div class="container">
      <div class="row px-3 ">
        <div class="col-4 p-1 up">
          <h1>lima<br>&nbsp;&nbsp;&nbsp;&nbsp;<span>zola</span>
          </h1>
        </div>
        <div class="col-8 d-flex justify-content-end align-items-end p-0">
          <img class="up" src="../../assets/images/characters/Group 8286@2x.png" alt="limawzola">
        </div>
      </div>
    </div>
    <div class="cloud1"></div>
    <div class="cloud2"></div>
    <svg width="50">
      <polygon points="50,0 50,60 10,60" style="fill:#fff" />
    </svg>
  </div>
  <div class="parent w-100 ">
    <div class="child">
    </div>
  </div>
  <div class="container ">
    <div class="row pb-5 mb-5">
      <div class="col-6 text-center px-0 py-2" *ngFor="let category of kidsCategories">
        <div class="copmonent p-0  m-0 ">
          <a><img [src]="category.image" class="story-img" [alt]="category.name"
              onerror="this.onerror=null;this.src='../../../assets/images/logos/80fekra.png'"
              (click)="getCategory(category.id,category.type)"></a>
          <p>{{category.name}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="layouts">
    <div class="ball1">
    </div>
    <div class="ball2">
    </div>
    <div class="cloud3"></div>
    <div class="cloud4"></div>
    <div class="cloud5"></div>
    <div class="cloud6"></div>
  </div>
</section>
<app-navbar></app-navbar>
<!-- Modals -->
<div class="modals ">
  <div class="sub-layer py-5 px-2">
    <div class="sub-modal  d-flex justify-content-center align-items-center flex-column p-5">
      <img src="../../../assets/images/characters/limaaa.png" alt="lima">
      <p>{{"moms-category-popup-msg" | translate}}</p>
      <div class="w-100 pe-3">
        <button class="submit-btn text-dark mx-2" (click)="closeModal()">{{"moms-popup-back" | translate}}</button>
        <button class="submit-btn text-white bg-danger mx-1" (click)="continueBrowsing()">{{"moms-popup-cont" |
          translate}}</button>
      </div>
    </div>
  </div>
</div>
