<div id="more-components">
  <div class="head-svg">
  </div>
  <div class="circle1">
  </div>
  <div class="circle2">
  </div>
  <div class="container m-auto">
    <div class="row mb-5">
      <div class="col-12">
        <div class="row">
          <div class="col-10">
            <div class="advice-msgs">
              <ul class="list-unstyled mb-0 ">
                <li  class="text-center d-inline-block px-2">
                  <img src="../../../assets/images/lima.jpg" alt="baby.png" >
                  <p>{{"all" | translate}}</p>
                </li>
                <!-- <li class="text-center d-inline-block px-2" *ngFor="let sub of subCategories" >
                  <img [src]="sub.image" alt="baby.png" (click)="getTeacherPosts(sub.id)">
                  <p>{{sub.name}}</p>
                </li> -->
              </ul>
            </div>
          </div>
          <div class="col-2 d-flex justify-content-center align-items-center">
            <button (click)="goBack()" class="btn btn-transparent border border-0 p-0"><i
              class="fa-solid fa-arrow-left-long text-black fw-bold fa-2x"  [style.transform]="checkDir?'rotatey(360deg)':'rotatey(180deg)'"></i></button>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-md-4 col-lg-3 p-2 overflow-hidden">
        <div class="item">
          <div class="video">
              <video controls width="100%" height="100%"  poster="https://sublima.limazola.com/uploads/posts/165757772862cca100bbc6d.jpg">
                <source src="https://sublima.limazola.com/uploads/posts/165766096662cde62631e61.mp4">
              </video>
          </div>
          <div class="caption">
            <p class="mx-2">الدرس الاول.. مهارات الأتصال</p>
           <ul [style.direction]="checkDir?'ltr':'rtl'" class="d-flex list-unstyled ">
            <li class="m-2" ><span><i class="fa-regular fa-thumbs-up" [style.transform]="checkDir?'rotatey(180deg)':'rotatey(360deg)'"></i></span> 1 k </li>
            <li class="m-2"><span><i class="fa-regular fa-eye"></i></span> 2 k </li>
           </ul>
          </div>
          <div class="line">
          </div>
        </div>
      </div>
      


    </div>
  </div>
</div>
