<!-- loader.json file -->
<!-- <div class="loader">
  <lottie-player src="../../../assets/animations/loader.json" background="transparent" speed="1" loop autoplay>
  </lottie-player>
</div> -->
<!-- loader.json file -->
<div id="more-components">
  <div class="head-svg">
  </div>
  <div class="circle1">
  </div>
  <div class="circle2">
  </div>
  <div class="container m-auto">
    <div class="row mb-5">
      <div class="col-12">
        <div class="row heading">

          <div class="col-2 d-flex justify-content-center align-items-center">
            <button routerLink=".." class="btn btn-transparent border border-0 p-0"><i
                class="fa-sharp fa-solid fa-arrow-left text-black fw-bold fa-2x"
                [style.transform]="checkDir?'rotatey(360deg)':'rotatey(180deg)'"></i></button>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-md-4 col-lg-3 p-3 overflow-hidden">
        <div class="item">
          <div class="poster">
            <img src="https://sublima.limazola.com/uploads/posts/165757774662cca11230d1b.jpg" alt="video post">
            <div class="play-icon ">
              <div class="lottie-icon w-100 h-100">
                <lottie-player class="w-100 h-100"
                  src="https://assets10.lottiefiles.com/temp_editor_files/lf30_editor_wmhclgej.json"
                  background="transparent" speed="1" loop autoplay >
                </lottie-player>
              </div>
            </div>
          </div>
          <div class="caption">
            <h4 class="my-3">سيارات جديدة</h4>
          </div>
          <div class="line mt-2">
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

